:root {
    --accent-color: #93CDF6;
    --background-color: #161C21;
    --text-color: #D2E5F5;
    --animation-speed: 0.25s;
    --ul-ol-background-color: #2D3135;
    --navbar-background-color: #2D3135;
    --img-border-color: var(--accent-color);
    --box-border-color: #111;
    --box-border-size: 10px;
    --hr-color: #8193A1;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 1em auto;
    max-width: 40em;
    font: 1.2em/1.62 sans-serif;
    padding: 0 0.92em 3.24em;
}

#progress-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
}

#progress-bar {
    height: 100%;
    width: 0;
    background-color: var(--accent-color);
    box-shadow: 0 0 8px var(--accent-color);
    transition: width 0.15s;
}

h1, h2 {
    line-height: 1.2;
}

a {
    cursor: pointer;
    color: var(--accent-color);
    text-decoration: none;
}

hr {
    border: none;
    height: 4px;
    border-radius: 5px;
    background-color: var(--hr-color);
}

ul, ol, p {
    background: var(--ul-ol-background-color);
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 11px;
    border-radius: 15px;
    box-shadow: 0 0 var(--box-border-size) var(--box-border-color);
}

p {
    padding-left: 17px;
}

ul {
    list-style-type: disc;
    /* the default, "circle" is uglier than me. */
}

ol ol, ol ul, ol p, ul p {
    background: #41484D;
    box-shadow: 0 0 5px var(--box-border-color);
}

img {
    display: block;
    margin: 0 auto;
    width: 97%;
    border: 5px solid var(--img-border-color);
    border-radius: 15px;
    box-shadow: 0 0 var(--box-border-size) var(--accent-color);
}

.navbar {
    display: flex;
    margin: 0 auto;
    background-color: var(--navbar-background-color);
    border-radius: 15px;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 25px;
    left: 0;
    right: 0;
    transition: bottom var(--animation-speed);
    box-shadow: 0 0 var(--box-border-size) var(--box-border-color);
}

.navbar a {
    font-family: monospace;
    text-decoration: none;
    padding: 15px;
    width: inherit;
    height: inherit;
    text-align: center;
    border-radius: 15px;
    /* padding-bottom: 15px; */
}

.navbar a.nav-active {
    background-color: #41484D;
    box-shadow: 0 0 4px var(--box-border-color);
}

.navbar a:hover {
    background-color: #677886;
    transition: background-color 0.5s;
}

code {
    background-color: #101010;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}

code:hover {
    box-shadow: 0 0 14px var(--accent-color);
}

.navigation-top {
    display: flex;
    justify-content: space-between;
}

.navigation-top h4 {
    margin: 0;
}

.backbtn:hover {
    cursor: pointer;
}

.colored::first-letter {
    color: var(--accent-color);
}

@media (max-width: 767px) {
    .navbar {
        width: 92%;
    }
}

@media (min-width: 768px) {
    .navbar {
        width: 50%;
    }
}
