.tabs {
    display: flex;
    margin: 0 auto;
    background-color: var(--navbar-background-color);
    border-radius: 15px;
    justify-content: space-evenly;
    align-items: center;
    outline-color: var(--outline-color);
    outline-width: 4px;
    outline-style: solid;
    outline-offset: -4px;
}

.tabs a {
    font-family: monospace;
    text-decoration: none;
    padding: 15px;
    width: 100%;
    height: inherit;
    text-align: center;
    border-radius: 15px;
    /* padding-bottom: 15px; */
}

/* .tabs a.nav-active { */
/*     background-color: var(--navbar-a-active); */
/*     box-shadow: 0 0 4px var(--box-border-color); */
/* } */

.tabs a:hover {
    font-weight: bold;
}

.cont {
    display: none;
}

.cont:target {
    display: block;
    padding-top: 1px;
}
