html {
    scroll-behavior: smooth;
}

body {
    color: #CACACA;
    background-color: #282828;
    margin: 1em auto;
    max-width: 40em;
    padding: 0 .92em 3.24em;
    font: 1.2em/1.62 sans-serif
}

.colored::first-letter {
    color: #9bcbfb;
}

h1, h2 {
    line-height: 1.2;
}

a {
    cursor: pointer;
    color: #9bcbfb;
    text-decoration: none;
}

hr {
    border: none;
    height: 4px;
    border-radius: 5px;
    background-color: #777;
}

