{% extends "base.html" %}

{% block title %}
    404 - dev64&#39;s website
{% endblock %}

{% block head %} {{ super() }}
<style type="text/css">
    p {
        font-style: italic;
    }

    span {
        font-weight: bold;
    }

    .colo_red::first-letter,
    .four {
        color: #ed4245;
    }

    .gold {
        color: #feca57;
    }

    .hack {
        color: #20bf6b;
    }

    .day {
        color: #ffeaa7;
    }

    .aaa {
        color: #dff9fb;
    }
</style>
{% endblock %} {% block content %}
<h1 class="colo_red" onclick="toggleStylesheet()">laurel_updates</h1>

In the vast expanse of the digital sea, you've drifted off course—what a sight to see! The page you sought has vanished, gone, like a fleeting star at the break of dawn.

But worry not, adventurer bold, for a new path awaits to be told. The link you clicked has lost its way, but there's still hope to brighten your day.

With just a click, we’ll guide you back, through the labyrinth, to the right track. The digital world is full of surprises, and we're here to help you find the prizes!

So take this link, it’s your trusty guide, back to the content where fun resides. Your journey’s far from over, my friend—there's much more here, just around the bend.

<p>
    In the depths of <span class="hack">cyberspace</span>, you've strayed; a <span class="four">404</span> error, a page mislaid. The path you seek is not quite here, but fear not, dear user, have no fear.
</p>

<p>
    The link you clicked, it took a dive into the digital <a href="https://voidlinux.org" target="_blank">void</a>, it did not survive. But fret not, for there's hope in sight, to guide you <a href="/">back</a> to the web's delight.
</p>

<p>
    With a click or a tap, let's make amends, <a href="/">return</a> you to where your journey begins. A page awaits, just one step away, to <span class="day">brighten</span> your digital, <span class="day">sunlit day.</span>
</p>

<p>
    So follow this <a href="https://youtu.be/xMHJGd3wwZk" target="_blank">link</a>; <span class="gold">it's your golden key</span> <a href="/">back</a> to the content you long to see. In the realm of the web, we will make it right, no more lost pages, <span class="aaa">just endless light.</span>
</p>
{% endblock %} {% block navbar %} {% endblock %}
