{% extends "base.html" %} {% block title %}laurel_updates - 404{% endblock %} {%
block head %} {{ super() }}
<style type="text/css">
    p {
        font-style: italic;
    }

    span {
        font-weight: bold;
    }

    .colo_red::first-letter,
    .four {
        color: #ed4245;
    }

    .gold {
        color: #feca57;
    }

    .hack {
        color: #20bf6b;
    }

    .day {
        color: #ffeaa7;
    }

    .aaa {
        color: #dff9fb;
    }
</style>
{% endblock %} {% block content %}
<h1 class="colo_red" onclick="toggleStylesheet()">laurel_updates</h1>

<p>
    In the depths of
    <span class="hack">cyberspace</span>, you've strayed; a
    <span class="four">404</span>
    error, a page mislaid. The path you seek is not quite here, but fear not,
    dear user, have no fear.
</p>

<p>
    The link you clicked, it took a dive into the digital
    <a href="https://voidlinux.org" target="_blank">void</a>, it did not
    survive. But fret not, for there's hope in sight, to guide you
    <a href="/">back</a>
    to the web's delight.
</p>

<p>
    With a click or a tap, let's make amends,
    <a href="/">return</a>
    you to where your journey begins. A page awaits, just one step away, to
    <span class="day">brighten</span>
    your digital,
    <span class="day">sunlit day.</span>
</p>

<p>
    So follow this
    <a href="https://youtu.be/xMHJGd3wwZk" target="_blank">link</a>;
    <span class="gold">it's your golden key</span>
    <a href="/">back</a>
    to the content you long to see. In the realm of the web, we will make it
    right, no more lost pages,
    <span class="aaa">just endless light.</span>
</p>
{% endblock %} {% block navbar %} {% endblock %}
