<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <link
            rel="stylesheet"
            href="/static/css/style.css"
            id="default-stylesheet"
        />
        <link
            rel="stylesheet"
            href="/static/css/border-outline.css"
            id="debug-stylesheet"
            disabled
        />
        <link
            rel="stylesheet"
            href="/static/css/tabs.css"
        />

        <style type="text/css">
            .tabs a.nav-active {
                text-decoration: underline;
                font-weight: bold;
            }

            #navbar {
                bottom: 15px;
                position: fixed;
                max-width: inherit;
                left: 0.92em;
                right: 0.92em;
                margin: 0 auto;
            }
        </style>
        {% endblock %}
    </head>
    <body>
        <div class="content">
            {% block content %}{% endblock %}
        </div>

        {% block navbar %}
        <div class="tabs" id="navbar">
            <a href="/" {% if request.endpoint and "home" in request.endpoint %}class="nav-active"{% endif %}>Home</a>
            <a href="/roms" {% if request.endpoint and "roms" in request.endpoint %}class="nav-active"{% endif %}>ROMs</a>
            <a href="/kernels" {% if request.endpoint and "kernels" in request.endpoint %}class="nav-active"{% endif %}>Kernels</a>
            <a href="/blog" {% if request.endpoint and "blog" in request.endpoint %}class="nav-active"{% endif %}>Blog</a>
        </div>
        {% endblock %}

        <script defer>
            // "debug" stylesheet

            let isDebugStylesheetVisible = false;
            let clickCount = 0;

            function toggleStylesheet() {
                clickCount = clickCount + 1;
                navigator.vibrate(10);

                if (clickCount === 3) {
                    isDebugStylesheetVisible = !isDebugStylesheetVisible;

                    const debugStylesheet = document.getElementById("debug-stylesheet");
                    navigator.vibrate(14);

                    debugStylesheet.disabled = !isDebugStylesheetVisible;

                    clickCount = 0;
                }
            }
        </script>

        <!-- vercel analytics - collecting usage statistics (privacy friendly!) -->
        <script>
            window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
        </script>
        <script defer src="/_vercel/insights/script.js"></script>
        <!-- vercel analytics - collecting usage statistics (privacy friendly!) -->

        <!-- vercel speed insights - monitoring website performance -->
        <script>
            window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
        </script>
        <script defer src="/_vercel/speed-insights/script.js"></script>
        <!-- vercel speed insights - monitoring website performance -->

    </body>
</html>
