<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <link
            rel="stylesheet"
            href="/static/css/style.css"
            id="default-stylesheet"
        />
        <link
            rel="stylesheet"
            href="/static/css/border-outline.css"
            id="debug-stylesheet"
            disabled
        />
        {% endblock %}
    </head>
    <body>
        <div class="content">
            {% block content %}{% endblock %}
        </div>

        {% block navbar %}
        <div class="navbar">
            <a href="/" {% if request.endpoint and "home" in request.endpoint %}class="nav-active"{% endif %}>Home</a>
            <a href="/roms" {% if request.endpoint and "roms" in request.endpoint %}class="nav-active"{% endif %}>ROMs</a>
            <a href="/kernels" {% if request.endpoint and "kernels" in request.endpoint %}class="nav-active"{% endif %}>Kernels</a>
            <a href="/blog" {% if request.endpoint and "blog" in request.endpoint %}class="nav-active"{% endif %}>Blog</a>
        </div>
        {% endblock %}

        <script src="/static/js/script.js"></script>

        <!-- Cloudflare Web Analytics -->
        <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "c4ec3fe5ae184be084114d0e4219d407"}'></script>
        <!-- End Cloudflare Web Analytics -->
    </body>
</html>
