{% extends "base.html" %}
{% block title %}laurel_updates - {{ data["name"] }}{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/tabs.css" />
    {% endblock %}
    {% block content %}
    <div class="navigation-top">
    <a href="{% block routeback %}{% endblock %}"><h4>{% block routename %}{% endblock %}</h4></a>
    <h4 class="backbtn" style="color: var(--back-btn-color);" onclick="history.back()">Go back →</h4>
    </div>
    <h1 class="colored" onclick="toggleStylesheet()">{% block filename %}{{ data["name"] }} ({{ data["status"] }}){% endblock %}</h1>

        {% if data["banner"] %}
        <img src="{{ data["banner"] }}" alt="{{ data["name"] }} banner" />
        {% endif %}

        <ul>
            <li>Maintainer: {{ data["maintainer"] }}</li>
            <li>Release date: {{ data["date_release"] }}</li>
            <li>Version: {{ data["version"] }}</li>
        </ul>

        <div class="tabs">
            <a href="#downloads" class="no-fade-animation">Downloads</a>
            <a href="#changelog" class="no-fade-animation">Changelog</a>
            <a href="#notes" class="no-fade-animation">Notes</a>
        </div>

        <div id="changelog" class="cont">
            <h2 class="colored">Changelog</h2>

            {% block changelog %}
            <ul>
                {% if data["changelog"] %}
                {{ data["changelog"] | safe }}
                {% else %}
                <li>Empty.</li>
                {% endif %}
            </ul>
            {% endblock %}

        </div>

        <div id="notes" class="cont">
            <h2 class="colored">Notes</h2>
            <ul>
                {% if data["notes"] %}
                {{ data["notes"].replace("$LS", "<li>").replace("$LE", "</li>") | safe }}
                {% else %}
                <li>Empty.</li>
                {% endif %}

                {% block rdp %}
                <li>
                    RDP? {{ data["rdp"] }} (check
                    <a href="/help/what-is-rdp">what is rdp</a> for more)
                </li>
                {% endblock %}

                <li>
                    Make sure you read the instructions in the
                    <a href="{{ data['support'] }}">Support forum</a> before
                    flashing!!!
                </li>
            </ul>

        </div>

        <div id="downloads" class="cont">
            <h2 class="colored">Downloads</h2>
            <ul>
                {% for edition, link in data["downloads"]["editions"].items() %} {%
                if link %}
                <li><a href="{{ link }}">{{ edition }}</a></li>
                {% endif %} {% endfor %}
            </ul>

        </div>

        <br>

        {% endblock %}
