{% extends "base.html" %} {% block title %}laurel_updates - blog{% endblock %}
{% block content %}
<div class="navigation-top">
<a href="/"><h4>← laurel_updates</h4></a>
<h4 class="backbtn" style="color: var(--accent-color);" onclick="history.back()">Go back →</h4>
</div>
<h1 class="colored" onclick="toggleStylesheet()">Blog</h1>

<p>
    This page contains guides for laurel_sprout, like installing magisk,
    platform_tools, and more (some can be used on other devices aswell i guess).
    Want to add something? Contact the
    <a href="https://t.me/dev6400" target="_blank">dev</a>.
</p>

<h2 class="colored">Articles</h2>
<ul>
    {% for article in articles.items() %}
    <li><a href="/blog/{{ article[1] }}">{{ article[0] }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
