<!doctype html>
<html lang="en">
    <head>
        <title>laurel_updates - {{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/css/style.css" />

        <style>
            code {
                background-color: #151515;
            }
        </style>
    </head>
    <body>
        <a href="/help"><h4 class="colored">← Help</h4></a>
        <h1 class="colored">{{ title }}</h1>
        <p>{{ data | safe }}</p>

        <div class="navbar">
            <a href="/" class="nav-item">Home</a>
            <a href="/roms" class="nav-item">ROMs</a>
            <a href="/kernels" class="nav-item">Kernels</a>
            <a href="https://t.me/dev6400" class="nav-item">Contact</a>
        </div>

        <script src="/static/js/script.js"></script>
    </body>
</html>
