<!doctype html>
<html lang="en">
    <head>
        <title>laurel_updates - {{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/style.css" />

        <style>
            code {
                font-size: 1.2em;
            }
        </style>
    </head>
    <body>
        <a href="/help"><h4 class="colored">← Help</h4></a>
        <h1 class="colored">{{ title }}</h1>
        <p>{{ data | safe }}</p>
    </body>
</html>
