<!doctype html>
<html>
    <head>
        <title>laurel_updates - help</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link
            rel="stylesheet"
            href="/static/css/border-outline.css"
            id="debug-stylesheet"
            disabled
        />

        <style>
            .adrod::first-letter {
                color: #3ddc84;
            }
        </style>
    </head>
    <body>
        <a href="/"><h4 class="colored">← laurel_updates</h4></a>
        <h1 class="colored" onclick="toggleStylesheet()">Help</h1>

        <p>
            This page contains guides for laurel_sprout, like installing magisk,
            platform_tools, and more (some can be used on other devices aswell i
            guess). Want to add something? Contact the
            <a href="https://t.me/dev6400">dev</a>.
        </p>

        <h2 class="colored">Articles</h2>
        <ul>
            {% for article in articles.items() %}
            <li><a href="/help/{{ article[1] }}">{{ article[0] }}</a></li>
            {% endfor %}
        </ul>

        <div class="navbar">
            <a href="/">Home</a>
            <a href="/roms">ROMs</a>
            <a href="/kernels">Kernels</a>
            <a href="/help" class="nav-active">Help</a>
        </div>

        <script src="/static/js/script.js"></script>
    </body>
</html>
