{% extends "base.html" %} {% block title %}laurel_updates - home{% endblock %}
{% block head %} {{ super() }}
<style type="text/css">
    .news::first-letter {
        color: #fdcc4b;
    }
</style>
{% endblock %} {% block content %}
<h1 class="colored" onclick="toggleStylesheet()">laurel_updates</h1>

<h2>What is this?</h2>
<p>
    A web<a href="/stats">s</a>ite with <a href="/roms">ROMs</a>,
    <a href="/kernels">Kernels</a> and <a href="/blog">Guides</a>, for
    laurel_sprout device. Data is updated almost instantly by me.
    If you find an issue or mistake, please
    report. Created by
    <a href="https://t.me/dev6400" target="_blank">dev6400</a>.
    Contact the dev for suggestions or adding data.
</p>
<h1 class="news">News</h1>
<p>
    {{ headline }}Read about it
    <a href="/blog/news">here</a>.
</p>

{% endblock %}
