<!doctype html>
<html lang="en">
    <head>
        <title>laurel_updates - main</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <meta name="theme-color" content="#9bcbfb" />
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body>
        <h1 class="colored">laurel_updates</h1>
        <h2>What is this?</h2>
        <p>
        A w<a href="/edit">e</a>b<a href="/stats">s</a>ite where ROMs, Kernels and guides for
            laurel_sprout are saved here. All the data here are up to date, so
            you do not have to worry if the are the latest or not. Created by
            <a href="https://t.me/dev6400">dev6400</a>. Contact the dev for
            suggestions or adding data.
        </p>
        <hr />

        <h2 class="colored">Navigate to...</h2>
        <ul>
            <li>
                <a href="/roms">ROMs</a>
            </li>
            <li>
                <a href="/kernels">Kernels</a>
            </li>
            <li>
                <a href="/help">Help</a>
            </li>
        </ul>

        <script src="/static/js/script.js"></script>
    </body>
</html>
