<!doctype html>
<html>
    <head>
        <title>laurel_updates - {{ data["name"] }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/style.css" />
        <style>
            #additional_info {
                display: none;
            }

            #rdp {
                display: none;
            }

            #additional_info:target {
                display: block;
            }

            #rdp:target {
                display: block;
            }
        </style>
    </head>
    <body>
        <a href="/kernels"><h4 class="colored">← Kernels</h4></a>
        <h1 class="colored">{{ data["name"] }}</h1>
        <p>Release date: {{ data["date_release"] }}</p>
        <p>Version: {{ data["version"] }}</p>

        <a href="#additional_info">Additional information</a>
        <div id="additional_info">
            <p>Maintainer: {{ data["maintainer"] }}</p>
            {% if data["changelog"].startswith('http') or
            data["changelog"].startswith('https') %}
            <p>
                Changelog: <a href="{{ data['changelog'] }}">Changelog Link</a>
            </p>
            {% else %}
            <p>Changelog: {{ data['changelog'] }}</p>
            {% endif %}
            <a href="{{ data['support'] }}">Support forum</a>
            <p>
                Make sure you read the instructions in the support forum before
                flashing!!!
            </p>
        </div>

        <hr />
        <h2 class="colored">Downloads</h2>
        <ul>
            {% for edition, link in data["downloads"]["editions"].items() %} {%
            if link %}
            <li><a href="{{ link }}">{{ edition.title() }}</a></li>
            {% endif %} {% endfor %}
        </ul>

        <hr />

        <h2 class="colored">What is RDP?</h2>
        <a href="#rdp">Expand</a>

        <div id="rdp">
            <p>
                RDP is a way to implement dynamic partitions on old devices. It
                works by merging normal device partitions into one super
                partition, and then creating logical partitions on that super
                partition as needed. This allows developers/maintainers to use
                unused space in normal ROMs to add extra space to partitions
                that need it. You cannot use an RDP kernel on a ROM that doesnt
                use RDP partitions, and a non RDP kernel on a RDP ROM.
            </p>
        </div>
    </body>
</html>
