<!doctype html>
<html lang="en">
    <head>
        <title>laurel_updates - kernels</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link
            rel="stylesheet"
            href="/static/css/border-outline.css"
            id="debug-stylesheet"
            disabled
        />
    </head>
    <body>
        <div id="progress-bar-container">
            <div id="progress-bar"></div>
        </div>

        <a href="/"><h4 class="colored">← laurel_updates</h4></a>
        <h1 class="colored" onclick="toggleStylesheet()">Kernels</h1>

        <ul>
            {% for kernel in data["kernels"] %}
            <li>
                <a href="kernels/{{ kernel['route_name'] }}"
                    >{{ kernel["name"] }}</a
                >
            </li>
            {% endfor %}
        </ul>

        <div class="navbar">
            <a href="/">Home</a>
            <a href="/roms">ROMs</a>
            <a href="/kernels" class="nav-active">Kernels</a>
            <a href="/help">Help</a>
        </div>

        <script src="/static/js/script.js"></script>
        <script src="/static/js/snowstorm.js"></script>
    </body>
</html>
