{% extends "base.html" %} {% block title %}laurel_updates - kernels{% endblock
%} {% block head %} {{ super() }} {% endblock %} {% block content %}
<div class="navigation-top">
<a href="/"><h4>← laurel_updates</h4></a>
<h4 class="backbtn" style="color: var(--accent-color);" onclick="history.back()">Go back →</h4>
</div>
<h1 class="colored" onclick="toggleStylesheet()">Kernels</h1>

<ul>
    {% for kernel in data["kernels"] %}
    <li>
        <a href="kernels/{{ kernel['route_name'] }}">{{ kernel["name"] }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
