<!doctype html>
<html lang="en">
    <head>
        <title>laurel_updates - {{ data["name"] }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/style.css" />
        <style>
            #additional_info {
                display: none;
            }

            #additional_info:target {
                display: block;
            }
        </style>
    </head>
    <body>
        <a href="/kernels"><h4 class="colored">← Kernels</h4></a>
        <h1 class="colored">{{ data["name"] }}</h1>
        <p>Maintainer: {{ data["maintainer"] }}</p>
        <p>Release date: {{ data["date_release"] }}</p>
        <p>Version: {{ data["version"] }}</p>

        <a href="#additional_info">Additional information</a>
        <div id="additional_info">
            {% if data["changelog"].startswith('http') or
            data["changelog"].startswith('https') %}
            <p>
                Changelog: <a href="{{ data['changelog'] }}">Changelog Link</a>
            </p>
            {% else %}
            <p>Changelog: {{ data['changelog'] }}</p>
            {% endif %}
            <p>
                Make sure you read the instructions in the
                <a href="{{ data['support'] }}">Support forum</a> before
                flashing!!!
            </p>
            <p>{{ data["notes"] | safe }}</p>
        </div>

        <hr />

        <h2 class="colored">Downloads</h2>
        <a href="/help/what-is-rdp">What is RDP!?</a>

        <ul>
            {% for edition, link in data["downloads"]["editions"].items() %} {%
            if link %}
            <li><a href="{{ link }}">{{ edition.title() }}</a></li>
            {% endif %} {% endfor %}
        </ul>
    </body>
</html>
