<!doctype html>
<html lang="en">
    <head>
        <title>laurel_updates - {{ data["name"] }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/border-outline.css" id="debug-stylesheet" disabled/>

        <style>
            #additional_info {
                display: none;
            }

            #additional_info:target {
                display: block;
            }
        </style>
    </head>
    <body>
        <a href="/kernels"><h4 class="colored">← Kernels</h4></a>
        <h1 class="colored" onclick="toggleStylesheet()">{{ data["name"] }}</h1>

        {% if data["banner"] %}
        <img src="{{ data["banner"] }}" alt="{{ data["name"] }} banner" />
        {% endif %}

        <p>Maintainer: {{ data["maintainer"] }}<br />Release date: {{ data["date_release"] }}<br />Version: {{ data["version"] }}</p>

        <p style="text-align: center"><a href="#additional_info" class="no-fade-animation">Additional information</a></p>

        <div id="additional_info">
            <h2>Changelog</h2>
            <ul>
                {% if data["changelog"].startswith('http') or
                data["changelog"].startswith('https') %}
                <li>
                    <a href="{{ data['changelog'] }}">Changelog Link</a>
                </li>
                {% else %}
                <li>{{ data['changelog'] }}</li>
                {% endif %}
            </ul>

            <h2>Notes</h2>
            <a href="/help/what-is-rdp">What is RDP?</a>

            <ul>
                {% if data["notes"] %}
                <li>{{ data["notes"] | safe }}</li>
                {% endif %}

                <li>
                    Make sure you read the instructions in the
                    <a href="{{ data['support'] }}">Support forum</a> before
                    flashing!!!
                </li>
            </ul>

        </div>

        <hr />

        <h2 class="colored">Downloads</h2>

        <ul>
            {% for edition, link in data["downloads"]["editions"].items() %} {%
            if link %}
            <li><a href="{{ link }}">{{ edition }}</a></li>
            {% endif %} {% endfor %}
        </ul>

        <div class="navbar">
            <a href="/">Home</a>
            <a href="/roms">ROMs</a>
            <a href="/kernels" class="nav-active">Kernels</a>
            <a href="/help">Help</a>
            <a href="https://t.me/dev6400">Contact</a>
        </div>

        <script src="/static/js/script.js"></script>
    </body>
</html>
