{% extends "base.html" %} {% block title %}laurel_updates - reviews{%
endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<div class="navigation-top">
    <a href="/roms"><h4>← ROMs</h4></a>
    <h4
        class="backbtn"
        style="color: var(--back-btn-color)"
        onclick="history.back()"
    >
        Go back →
    </h4>
</div>
<h1 class="colored" onclick="toggleStylesheet()">Reviews</h1>
<p>Review has been submitted. It will take some time to appear on laurel_updates, because your review has to be manually approved by the dev.</p>
<p>Your review for {{ build_name }}, version {{ build_version }}, released in {{ build_release_date }}, with rating {{ build_rating }} out of 5: {{ build_review }}</p>
{% endblock %}
