<!doctype html>
<html lang="en">
    <head>
        <title>laurel_updates - {{ data["name"] }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/style.css" />
        <style>
            #additional_info {
                display: none;
            }

            #additional_info:target {
                display: block;
            }
        </style>
    </head>
    <body>
        <a href="/roms"><h4 class="colored">← ROMs</h4></a>
        <h1 class="colored">{{ data["name"] }} ({{ data["status"] }})</h1>
        <p>Maintainer: {{ data["maintainer"] }}</p>
        <p>Release date: {{ data["date_release"] }}</p>
        <p>Version: {{ data["version"] }}</p>

        <a href="#additional_info">Additional information</a>
        <div id="additional_info">
            <p>
                RDP? {{ data["rdp"] }} (check
                <a href="/help/what-is-rdp">what is rdp</a> for more)
            </p>

            {% if data["notes"] %}
            <h2>Notes</h2>
            <p>{{ data["notes"] | safe }}</p>
            {% endif %}

            <h2>Changelog</h2>

            <ul>
            {{ data["changelog"].replace("$LS", "<li>").replace("$LE", "</li>") | safe }}
            </ul>

            <p>
                Make sure you read the instructions in the
                <a href="{{ data['support'] }}">Support forum</a> before
                flashing!!!
            </p>
        </div>

        <hr />

        <h2 class="colored">Downloads</h2>
        <ul>
            {% for edition, link in data["downloads"]["editions"].items() %} {%
            if link %}
            <li><a href="{{ link }}">{{ edition.title() }}</a></li>
            {% endif %} {% endfor %}
        </ul>
    </body>
</html>
