<!doctype html>
<html lang="en">
    <head>
        <title>laurel_updates - roms</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/style.css" />
        <style>
            .adrod::first-letter {
                color: #10b981;
            }
        </style>
    </head>
    <body>
        <a href="/"><h4 class="colored">← laurel_updates</h4></a>
        <h1 class="colored">ROMs</h1>

        <h2 class="adrod">Android Versions</h2>
        <p>
            Recommended versions are <strong>android 11 and 13</strong>, because
            these are the ones usually getting updates. Android 10 and 9 are not
            included because no one is interested, plus most laurel users are
            using "android 11 fw", which enables anti-rollback, preventing
            flashing anything lower than android 11 (will result in a brick).
        </p>

        <p>
            Note: The ROMs available here are the latest update from the
            maintainer.
        </p>

        {% for version, roms in roms_data.items() %}
        <h2 class="adrod">Android {{ version }} ROMs:</h2>
        <ul>
            {% for rom in roms %}
            <li>
                <a href="roms/{{ rom['route_name'] }}">{{ rom["name"] }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}

        <hr />

        <h2 class="colored">Missing ROM?</h2>
        <p>
            Contact the <a href="https://t.me/dev6400">dev</a> for submission.
            Please, dont submit outdated/discontinued ROMs. (But there COULD be
            an exception)
        </p>
    </body>
</html>
