{% extends "base.html" %} {% block title %}laurel_updates - roms{% endblock %}
{% block head %} {{ super() }}
<link rel="stylesheet" href="/static/css/tabs.css">
<style type="text/css">
    .adrod::first-letter {
        color: #379576;
    }

    .red::first-letter {
        color: #ed4245;
    }
</style>
{% endblock %}{% block content %}
<div class="navigation-top">
    <span><a href="/">← laurel_updates</a></span>
    <span class="backbtn" onclick="navigator.clipboard.writeText(`https://devlocalhost.github.io${window.location.pathname}`)">↑ erahS</span>
</div>

<h1 class="colored" onclick="toggleStylesheet()">ROMs</h1>

<p>This page contains ROMs from Android 10 (excluding <a href="/roms/crDroid_10">crDroid 6.27</a>, which is based on Android 11 firmware.), and up to the current latest Android version, which is 15. Android 9 is not included, since most users are using, or have updated to Stock ROM Android 11 version, which triggers rollback projection. Means, you cannot install an older Android version than 11. If you do, your phone will get bricked.</p>

<p><strong>Warning</strong>: you CANNOT install ANY of these ROMs IF you are using MIUI, or have converted your phone to MIUI/CC9e (or whatever the hell it is called, I don't know). To flash one of these ROMs, you MUST flash stock ROM, preferably (?) the fastboot version. You can check the guide <a href="REPLACEME">here</a>.</p>

<h2>Pick a category</h2>
<p>Below, you will find two categories: <b>Active</b> and <b>Archived</b>. Pick one, and you will find more details about the category.</p>

<div class="tabs">
    <a href="#active-roms">Active ROMs</a>
    <a href="#archived-roms">Archived ROMs</a>
</div>

<div id="active-roms" class="cont">
<h2 class="colored">Active ROMs</h2>
<p>ROMs under this category are actively, or just regularly maintained. A ROM will be under this category as long as the maintainer keeps supporting it. If they discontinue it, it will be moved to the Archived category (unless the download links are down. In this case, the ROM is removed from the website completely.)</p>
<div class="tabs">
    <a href="#15">15</a>
    <a href="#11">11</a>
</div>
</div>

<div id="archived-roms" class="cont">
<h2 class="red" id="archive">Archived ROMs</h2>
<p>ROMs under this category are not recommended, but they're included anyway, in case someone still wants to give them a try.</p>
<div class="tabs">
    <a href="#15a">15</a>
    <a href="#14a">14</a>
    <a href="#13a">13</a>
    <a href="#12a">12</a>
    <a href="#11a">11</a>
    <a href="#10a">10</a>
</div>
</div>

{% for version, roms in roms_data.items() %}
<div id="{{ version }}" class="cont">
    <h2 class="adrod">Active Android {{ version }} ROMs</h2>
    <ul>
        {% for rom in roms %}
            {% if not rom['archived'] %}
            <li>
                <a href="roms/{{ rom['route_name'] }}">{{ rom["name"] }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="tabs">
        <a href="#active-roms">← Back</a>
    </div>
</div>
{% endfor %}

{% for version, roms in roms_data.items() %}
<div id="{{ version }}a" class="cont">
    <h2 class="red">Archived Android {{ version }} ROMs</h2>
    <ul>
        {% for rom in roms %}
            {% if rom['archived'] %}
            <li>
                <a href="roms/{{ rom['route_name'] }}">{{ rom["name"] }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="tabs">
        <a href="#archived-roms">← Back</a>
    </div>
</div>
{% endfor %}

<hr>

<h2>"FAQ"</h2>
<ul>
    <li>Which ROM should i use?</li>
    <p>
        It all depends on your needs. Do you want customization? Then pick
        EvolutionX, for example. Do you want something lightweight, something
        minimal? Pick LineageOS (I'm currently using LineageOS 22.1, by the way.)
    </p>

    <li>How do i flash XYZ ROM?</li>
    <p>
        Please check the support group for the flashing instructions. All ROMs
        have a telegram support group linked. Join, and simply ask for flashing
        instructions.
    </p>

    <li>Which ROM/kernel is the best??!!!!?!</li>
    <p>
        Stop asking for the best ROMs/Kernels (for battery, for performance or
        any other criteria), it doesn't exist. If there was one true best
        ROM/Kernel, do you think there would be other ROMs or Kernels? There's
        only subjectively best and that's different for everyone. Everyone has
        different usage patterns &amp; preferences, so when asking for the best,
        you get the best for them, not the best for you. The only way you'll
        find the best one for you is by trying them yourself. They're all free,
        anyway. BEST IS SUBJECTIVE.
    </p>
</ul>

{% endblock %}
