<!doctype html>
<html lang="en">
    <head>
        <title>laurel_updates - statistics</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/border-outline.css" id="debug-stylesheet" disabled/>

    </head>
    <body>
        <a href="/"><h4 class="colored">← laurel_updates</h4></a>
        <h1 class="colored" onclick="toggleStylesheet()">Statistics</h1>
        <ul>
            <li>Visitors (since deploy time): {{ data["visitors"] }}</li>
            <li>Deploy time: {{ data["deployed_time"] }}</li>
            <li>Files in cachedir: {{ data["cachedir_len"] }}</li>
        </ul>

        <div class="navbar">
            <a href="/roms" class="nav-item">ROMs</a>
            <a href="/kernels" class="nav-item">Kernels</a>
            <a href="/help" class="nav-item">Help</a>
            <a href="https://t.me/dev6400" class="nav-item">Contact</a>
        </div>

        <script src="/static/js/script.js"></script>
    </body>
</html>
